@use "vars";
.btn-close {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    svg {
        fill: var(--text-black);
        width: 100%;
        height: 100%;
    }
}
.js-lbl {
    padding: 18px 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: var(--primary-bg-color);
    position: fixed;
    right: var(--container-offset);
    top: 20px;
    width: auto;
    max-width: calc(100% - 40px);
    height: auto;
    max-height: calc(100% - 40px);
    z-index: 1001;
    pointer-events: none;
    &__txt {
        font-weight: 500;
    }
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    .main-btn {
        min-width: 82px;
    }
    .btn-close {
        position: absolute;
        right: 24px;
        top: 24px;
    }
    .simplebar-content-wrapper {
        display: flex;
    }
    .simplebar-content {
        width: 100%;
        margin: auto;
    }
    &__overlay {
        padding: 40px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        overflow: auto;
    }
    &__content {
        width: 100%;
        max-width: 756px;
        padding: 40px 60px;
        margin: auto;
        background: #ffffff;
        border-radius: 12px;
        position: relative;
        box-shadow: 2px 2px 8px 0px #968c9333;
    }
    &__scroll {
        height: 100%;
    }
    &__top {
        padding-bottom: 3px;
        margin-bottom: 21px;
        h2 {
            padding-right: 30px;
        }
        & + p {
            font-size: 14px;
            font-weight: 500;
            margin-top: -12px;
            & + .form, & + .btn {
                margin-top: 24px;
            }
        }
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
        margin: 28px -4px -4px;
        .btn {
            flex: 1;
            margin: 4px;
        }
    }
    @media (max-width: vars.$bp1) {
        &__content {
            max-width: 670px;
        }
    }
    @media (max-width: vars.$bp2) {
        .btn-close {
            width: 18px;
            height: 18px;
            right: 24px;
            top: 20px;
            z-index: 2;
        }
        &__content {
            max-width: 570px;
            padding: 32px 24px 24px;
        }
    }
    @media (max-width: vars.$bp4) {
        &.open {
            .modal__content {
                bottom: 0;
            }
        }
        .btn-close {
            right: 15px;
        }
        .simplebar-content {
            height: 100%;
            margin-bottom: 0;
            display: flex;
        }
        .main-btn {
            min-width: 0;
        }
        &__overlay {
            padding: 30px 0 0;
            overflow: hidden;
        }
        &__top {
            position: sticky;
            top: 0;
            background: var(--white);
            z-index: 1;
            margin-bottom: 9px;
            & + p {
                margin-top: 0;
                & + .form, & + .btn {
                    margin-top: 20px;
                }
            }
        }
        &__content {
            max-width: 100%;
            height: auto;
            max-height: 100%;
            padding: 32px 15px 0;
            margin: auto 0 0;
            border-radius: 12px 12px 0 0;
            display: flex;
            flex-direction: column;
        }
        &__scroll {
            padding: 0 0 24px;
            overflow: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
                width: 0;
                height: 0;
            }
        }
        &__btns {
            margin-top: 24px;
        }
    }
    @media (max-width: vars.$bp5) {
        &__btns .btn {
            flex: 1 1 100%;
        }
    }
}
.modal.loading {
    &:before {
        content: none;
    }
    .modal__content {
        opacity: 0;
    }
}
.video-mod {
    .modal__content {
        max-width: 911px;
    }
    .media-cover {
        padding-top: 56.25%;
        border-radius: 12px;
    }
    .play-btn {
        width: 80px;
        height: 80px;
        padding: 24px;
    }
    @media (max-width: vars.$bp1) {
        .modal__content {
            max-width: 797px;
        }
    }
    @media (max-width: vars.$bp2) {
        .modal__content {
            max-width: 670px;
            padding-top: 56px;
        }
    }
}
.project-mod {
    .modal__overlay {
        padding: 0 var(--container-offset);
    }
    .modal__content {
        max-width: var(--container-width);
        min-height: 100%;
        padding: 128px 0 0px;
        border-radius: 0;
    }
    .simplebar-content {
        height: 100%;
        min-height: 100%;
    }
    @media (max-width: vars.$bp1) {
        .modal__content {
            padding-top: 112px
        }
    }
    @media (max-width: vars.$bp2) {
        .modal__overlay {
            padding: 0;
        }
    }
     @media (max-width: vars.$bp4) {
        .modal__overlay {
            overflow: auto;
        }
        .modal__content {
            padding-top: 100px
        }
        .modal__scroll {
            background: var(--white);
            overflow: visible;
        }
    }
}
.comment-form {
    .form__fieldset {
        p {
            font-weight: 500;
        }
    }
}
.dropdown-mod {
    .modal__top,
    .text-radio > span {
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal__content {
        padding-left: 0;
        padding-right: 0;
    }
    .text-radio > span {
        font-size: 14px;
        font-weight: 500;
    }
}
.readMore-mod {
    .page-content {
        margin-top: 8px;
        p {
            font-size: 12px;
            font-weight: 500;
        }
    }
}
.error-mod {
    h2 {
        color: var(--error-color);
    }
}
